---
import { url } from "../utils/urls";
---

<section id="kontakt" class="py-20 bg-slate-200 text-slate-900 text-center">
    <div class="container mx-auto px-4 max-w-4xl">
        <h2 class="text-3xl md:text-4xl font-bold mb-6 text-slate-900">
            Máte zájem o naše služby?
        </h2>
        <p class="text-xl text-slate-600 mb-10">
            Kontaktujte nás pro nezávaznou konzultaci a kalkulaci vašeho
            projektu. Jsme připraveni vyřešit vaše požadavky rychle a kvalitně.
        </p>
        <div class="flex flex-col sm:flex-row justify-center gap-4">
            <a
                href={url("/kontakt")}
                class="bg-amber-500 hover:bg-amber-600 text-slate-900 font-bold py-4 px-10 rounded-lg transition-all hover:scale-105 uppercase tracking-wider shadow-md hover:shadow-lg"
            >
                Přejít na kontakty
            </a>
            <a
                href="tel:+420607199629"
                class="bg-white border-2 border-slate-200 hover:border-slate-900 text-slate-700 hover:text-slate-900 font-bold py-4 px-10 rounded-lg transition-all hover:bg-white uppercase tracking-wider hover:scale-105"
            >
                Zavolat ihned
            </a>
        </div>
    </div>
</section>
