---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
	title?: string;
	fullWidth?: boolean;
	transparentNav?: boolean;
}

const {
	title = "Jan Musil - Služby",
	fullWidth = false,
	transparentNav = false,
} = Astro.props;
---

<!doctype html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col bg-slate-50">
		<header>
			<Nav transparent={transparentNav} />
		</header>

		<main
			class:list={[
				"flex-grow",
				{ "container mx-auto p-4 py-8": !fullWidth },
			]}
		>
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	/* Základní styly pokud jsou potřeba */
</style>
